

<div class="container">
    <h2>first works!</h2>
    <p>number is {{number}}</p>

    <button mat-stroked-button color="primary" (click)="navigate('second')">Second</button>  

    <button mat-stroked-button color="primary" (click)="navigate('third')">Third</button>

    <button mat-stroked-button color="primary" (click)="openModal($event)">Modale</button>
</div>

<div class="container">
    <button mat-stroked-button outline color="secondary" *ngIf="showBackButton" (click)="goBack()">GO BACK</button>  
</div>
